<div class="container">

  <table align="center">
    <tr>
      <td>
        <div class="form-group">
          FirstName :
        </div>
      </td>
      <td>
        <input class="form-control"
               type ="text"
               placeholder="Enter Firstname."
               name="Password"
               [(ngModel)]="userModel.firstName">
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-group">
          LastName :
        </div>
      </td>
      <td>
        <input class="form-control"
               type ="text"
               placeholder="Enter Lastname."
               name="Password"
               [(ngModel)]="userModel.lastName">
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-group">
          UserName :
        </div>
      </td>
      <td>
        <input class="form-control"
               type ="text"
               placeholder="Enter username."
               name="Email"
               [(ngModel)]="userModel.userName">
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-group">
          Email_id :
        </div>
      </td>
      <td>
        <input class="form-control"
               type ="text"
               placeholder="Enter email."
               name="Password"
               [(ngModel)]="userModel.email_id">
      </td>
    </tr>

    <tr>
      <td>
        <div class="form-group">
          Password :
        </div>
      </td>
      <td>
        <input class="form-control"
               type ="password"
               placeholder="Enter Password."
               name="Password"
               [(ngModel)]="userModel.password">
      </td>
    </tr>
    <tr>
      <td>
        BirthDate:
      </td>
      <td>
        <my-date-picker name="mydate" [options]="myDPPicker" [(ngModel)]="model" required></my-date-picker>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center">
        <div>
          <button style="font-size: larger;background-color: lightskyblue" ngClass="button" (click)="handlesignUp()">SignUp</button>
        </div>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <button (click)="signIn('google')">Google SIGNUP</button>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <div *ngIf="user">
          <table>
            <tr>
              <td>Name:</td>
              <td>{{user.name}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <td>UID</td>
              <td>{{user.uid}}</td>
            </tr>
            <tr>
              <td>Provider</td>
              <td>{{user.provider}}</td>
            </tr>
            <tr>
              <td>Image</td>
              <td>{{user.image}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <button (click)="logout()" style="text-align: center">Logout</button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>

  </table>
  <agm-map [latitude]="lat" [longitude]="long" [styles]="maptypestyle" [fullscreenControl]="false">
    <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
  </agm-map>

</div>

